html {
  font-size: 62.5%;
  /* font-family: "Open Sans", proxima-nova, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family:
    "Nunito",
    proxima-nova,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #fff;
}
body,
html {
  height: 100%;
}
body {
  /* padding: 0 5rem; */
  padding-top: 11rem;
  font-size: 1.2rem;
}
#root {
  height: 100%;
}
iframe {
  width: 100%;
  height: 90vh;
  border: none;
  flex: 1;
  min-height: 0;
}
div#app {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div#app > h1 {
  padding: 1rem;
  margin: 0;
  border-bottom: solid 1px #999;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 250ms ease-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 250ms ease-out;

  /* todo: look into a better value for this */
  z-index: 2000;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Content {
  transform: translateY(-20px);
  transition: all 200ms ease-out;
  display: flex;
}
.ReactModalPortal .ReactModal__Content--after-open {
  transform: translateY(0px);
}
.ReactModalPortal .ReactModal__Content--before-close {
  transform: translateY(-20px);
}
.ReactModalPortal .ReactModal__Content {
  transform: translateY(-20px);
  transition: all 200ms ease-out;
  display: flex;
}
.ReactModalPortal .ReactModal__Content--after-open {
  transform: translateY(0px);
}
.ReactModalPortal .ReactModal__Content--before-close {
  transform: translateY(-20px);
}

.ReactModalSettingsTrayPortal {
  --end-x: 0;
  --start-x: 40rem;
  --transition-fn: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ReactModalSettingsTrayPortal .ReactModal__Content {
  transform: translateX(var(--start-x));
  /* transition: all 200ms ease-in; */
  transition: all 200ms var(--transition-fn);
  display: flex;
}
.ReactModalSettingsTrayPortal .ReactModal__Content--after-open {
  transform: translateX(var(--end-x));
}
.ReactModalSettingsTrayPortal .ReactModal__Content--before-close {
  transform: translateX(var(--start-x));
}

#app .ReactModalSettingsTrayPortal .ReactModal__Overlay {
  z-index: 999;
  transition: all 200ms var(--transition-fn);
}
