html {
  font-size: 62.5%;
  /* font-family: "Open Sans", proxima-nova, -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family:
    "Nunito",
    proxima-nova,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #fff;
}
body,
html {
  height: 100%;
}
body {
  /* padding: 0 5rem; */
  padding-top: 11rem;
  font-size: 1.2rem;
}
#root {
  height: 100%;
}
iframe {
  width: 100%;
  height: 90vh;
  border: none;
  flex: 1;
  min-height: 0;
}
div#app {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div#app > h1 {
  padding: 1rem;
  margin: 0;
  border-bottom: solid 1px #999;
}
